body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    background-color: firebrick;
    color: whitesmoke;
}
.outer{
    background-color: black;
}
.vis-container {
    height: 500;
}
p#prompt {
    color: gray;
}

#enmix{
    padding-left: 30;
}