body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.vis-container {
    height: 500;

}
p#prompt {
    color: gray;
}